---
layout: post-index
---

<section class="main-content">
	{% for post in site.posts limit:3 %}
	<article>
		<h2><a class="red" href="{{ post.url }}">{{ post.title }}</a></h2>
		<div>
			<span class="entry-volume">Volume {{ post.volume }}, Issue {{ post.issue }}</span><br>
			<span class="entry-date date published"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date_string }}</time></span>
			{% assign download = post %}
			{% include download.html %}
			<p class="sponsors">Spronsored by<br>{{ post.sponsor }}</p>
			<p><a href="{{ post.url }}">Read more&hellip;</a></p>
		</div>
		<br style="clear: both">
	</article>
	{% endfor %}
	
	<article>
		<h2>Find Other Issues</h2>
		<p><a href="{{ site.url }}/parshiot/" class="btn btn-info">Find by Parsha/Yom Tov</a></p>
		<p><a href="{{ site.url }}/years/" class="btn btn-info">Find by Year</a></p>
	</article>

</section>
